In [6]:
print ('Hello World')
print ('im using Bakery Sales Dataset')

Hello World
im using Bakery Sales Dataset

In [7]:
import pandas as pd
df = pd.read_csv('Bakery.csv')
df

       TransactionNo          Items             DateTime    Daypart  DayType
0                  1          Bread  2016-10-30 09:58:11    Morning  Weekend
1                  2   Scandinavian  2016-10-30 10:05:34    Morning  Weekend
2                  2   Scandinavian  2016-10-30 10:05:34    Morning  Weekend
3                  3  Hot chocolate  2016-10-30 10:07:57    Morning  Weekend
4                  3            Jam  2016-10-30 10:07:57    Morning  Weekend
...              ...            ...                  ...        ...      ...
20502           9682         Coffee  2017-09-04 14:32:58  Afternoon  Weekend
20503           9682            Tea  2017-09-04 14:32:58  Afternoon  Weekend
20504           9683         Coffee  2017-09-04 14:57:06  Afternoon  Weekend
20505           9683         Pastry  2017-09-04 14:57:06  Afternoon  Weekend
20506           9684      Smoothies  2017-09-04 15:04:24  Afternoon  Weekend

[20507 rows x 5 columns]

In [8]:
df.shape

(20507, 5)

In [9]:
df.describe()

       TransactionNo
count   20507.000000
mean     4976.202370
std      2796.203001
min         1.000000
25%      2552.000000
50%      5137.000000
75%      7357.000000
max      9684.000000

In [10]:
df.values

array([[1, 'Bread', '2016-10-30 09:58:11', 'Morning', 'Weekend'],
       [2, 'Scandinavian', '2016-10-30 10:05:34', 'Morning', 'Weekend'],
       [2, 'Scandinavian', '2016-10-30 10:05:34', 'Morning', 'Weekend'],
       ...,
       [9683, 'Coffee', '2017-09-04 14:57:06', 'Afternoon', 'Weekend'],
       [9683, 'Pastry', '2017-09-04 14:57:06', 'Afternoon', 'Weekend'],
       [9684, 'Smoothies', '2017-09-04 15:04:24', 'Afternoon', 'Weekend']],
      dtype=object)